<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.address %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
